*Hello* :wave:

A new *{{ support_alias }}* app has been submitted to Splunkbase and is pending review! :hourglass_flowing_sand:

:splunk-arrow: *{{ app_name }}* v{{ release_version }}

The app will be available at <{{ splunk_base_url }}|Splunkbase> once it has been approved by the Splunkbase team.
